body{
    background-color: rgb(15, 38, 96);
    color:rgb(245, 126, 32);
}
header{
    text-align: center;
    font-size: 60px;
}
div{
    display: flex;
    justify-content: center;
}

a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}